<ion-header>
  <ion-toolbar>
    <ion-title>join</ion-title>
    <ion-backbutton>
    </ion-backbutton>
  </ion-toolbar>
</ion-header>

<ion-content class ="ion-padding">
  <div *ngIf="!submitted">
<ion-item>
  <ion-input [(ngModel)]="name" placeholder="Name"></ion-input>
</ion-item>
<ion-item>
  <ion-input [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
</ion-item>
<ion-item>
  <ion-input [(ngModel)]="address" placeholder="Address"></ion-input>
</ion-item>


<ion-button expand="block" (click)="submitForm()">Submit</ion-button>
</div>


  <div *ngIf="submitted" class="ion-text-center">
  <h2>Welcome, {{name}}</h2>
</div>
</ion-content>
